<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
<link href="//d7zeocn4055cf.cloudfront.net/static/bootstrap-2.3.2/css/style.css" rel="stylesheet">
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

<script src="//d7zeocn4055cf.cloudfront.net/static/bootstrap-2.3.2/js/bootstrap.min.js"></script>	

  </body>
</html>